<h3 class="card-header">サイト説明</h3>
<div class="card-body">
  <ul>
    <li>このコンテンツは社会性フィルターのジョークサイトです。</li>
    <li>カウンセリングなどのサービスは一切提供しておりません。</li>
    <li>社会性フィルターについてはググってください。</li>
    <li>フィルターを通した後のネコチャンの鳴き声と画像をTwitterに投稿できます。</li>
    <li>ここに投稿した言葉は、サイトの管理ログを含めどこにも残りません。</li>
    <li>何かありましたら <a href="https://github.com/sykix16g/social_filter/issues">issue</a> を投げていただければと思います。</li>
    <li>ネコチャンの写真は<a href="https://www.photo-ac.com/main/search?q=%E7%8C%AB">photoAC</a>様提供の画像を利用しております。</li>
    <li>フィルターを通していない言葉は、ご自分でご自分の責任でお伝えください。</li>
  </ul>
</div>

<!--
  <h3>今後やりたいこと</h3>

  <ul>
    <li>COTOHA APIを通してNegativeな場合は社会性フィルターに掛ける。APIコール数との兼ね合いにより、やるなら多分自分用にだけ実装します。作者のメンヘラツイートに辟易してる方は応援してください。<a href="https://api.ce-cotoha.com/contents/index.html">参考</a></li>
  </ul>
-->
